In [1]:
import pandas as pd

In [3]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)

In [4]:
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

In [5]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', names = col_names)

In [6]:
iris

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
iris.tail()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [11]:
iris.columns

Index(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'],
      dtype='object')

In [12]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [13]:
iris.shape

(150, 5)

In [14]:
iris.dtypes

Sepal_Length    float64
Sepal_Width     float64
Petal_Length    float64
Petal_Width     float64
Species          object
dtype: object

In [16]:
iris.columns.values

array(['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width',
       'Species'], dtype=object)

In [17]:
iris.describe(include='all')

        Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
count     150.000000   150.000000    150.000000   150.000000          150
unique           NaN          NaN           NaN          NaN            3
top              NaN          NaN           NaN          NaN  Iris-setosa
freq             NaN          NaN           NaN          NaN           50
mean        5.843333     3.054000      3.758667     1.198667          NaN
std         0.828066     0.433594      1.764420     0.763161          NaN
min         4.300000     2.000000      1.000000     0.100000          NaN
25%         5.100000     2.800000      1.600000     0.300000          NaN
50%         5.800000     3.000000      4.350000     1.300000          NaN
75%         6.400000     3.300000      5.100000     1.800000          NaN
max         7.900000     4.400000      6.900000     2.500000          NaN

In [19]:
iris.sort_index(axis=1,ascending=False)

            Species  Sepal_Width  Sepal_Length  Petal_Width  Petal_Length
0       Iris-setosa          3.5           5.1          0.2           1.4
1       Iris-setosa          3.0           4.9          0.2           1.4
2       Iris-setosa          3.2           4.7          0.2           1.3
3       Iris-setosa          3.1           4.6          0.2           1.5
4       Iris-setosa          3.6           5.0          0.2           1.4
..              ...          ...           ...          ...           ...
145  Iris-virginica          3.0           6.7          2.3           5.2
146  Iris-virginica          2.5           6.3          1.9           5.0
147  Iris-virginica          3.0           6.5          2.0           5.2
148  Iris-virginica          3.4           6.2          2.3           5.4
149  Iris-virginica          3.0           5.9          1.8           5.1

[150 rows x 5 columns]

In [22]:
iris[0:3]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [21]:
iris.iloc[5]

Sepal_Length            5.4
Sepal_Width             3.9
Petal_Length            1.7
Petal_Width             0.4
Species         Iris-setosa
Name: 5, dtype: object

In [24]:
iris.iloc[3:5, 0:2]

   Sepal_Length  Sepal_Width
3           4.6          3.1
4           5.0          3.6

In [25]:
iris.iloc[[1, 2,4], [0, 2]]

   Sepal_Length  Petal_Length
1           4.9           1.4
2           4.7           1.3
4           5.0           1.4

In [27]:
iris.iloc[1:3, :]

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [28]:
iris.iloc[:, 1:3]

     Sepal_Width  Petal_Length
0            3.5           1.4
1            3.0           1.4
2            3.2           1.3
3            3.1           1.5
4            3.6           1.4
..           ...           ...
145          3.0           5.2
146          2.5           5.0
147          3.0           5.2
148          3.4           5.4
149          3.0           5.1

[150 rows x 2 columns]

In [29]:
iris.iloc[1, 1]

3.0

In [31]:
iris['Sepal_Length'].iloc[5]

5.4

In [32]:
iris.isnull()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [33]:
iris.notnull()

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width  Species
0            True         True          True         True     True
1            True         True          True         True     True
2            True         True          True         True     True
3            True         True          True         True     True
4            True         True          True         True     True
..            ...          ...           ...          ...      ...
145          True         True          True         True     True
146          True         True          True         True     True
147          True         True          True         True     True
148          True         True          True         True     True
149          True         True          True         True     True

[150 rows x 5 columns]

In [35]:
iris.isnull().sum()

Sepal_Length    0
Sepal_Width     0
Petal_Length    0
Petal_Width     0
Species         0
dtype: int64

In [37]:
iris.notnull().sum()

Sepal_Length    150
Sepal_Width     150
Petal_Length    150
Petal_Width     150
Species         150
dtype: int64

In [38]:
from sklearn import preprocessing

In [39]:
iris.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [40]:
min_max_scaler = preprocessing.MinMaxScaler()

In [42]:
x=iris.iloc[:,:4]

In [43]:
x_scaled = min_max_scaler.fit_transform(x)

In [44]:
df_normalized = pd.DataFrame(x_scaled)

In [45]:
df_normalized

            0         1         2         3
0    0.222222  0.625000  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2    0.111111  0.500000  0.050847  0.041667
3    0.083333  0.458333  0.084746  0.041667
4    0.194444  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]

In [46]:
iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [47]:
label_encoder = preprocessing.LabelEncoder()

In [50]:
iris['Species']= label_encoder.fit_transform(iris['Species'])

In [51]:
iris['Species'].unique()

array([0, 1, 2])

In [52]:
features_iris=iris.drop(columns=['Species'])

In [53]:
enc = preprocessing.OneHotEncoder()