In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("C:/Users/Yash Dhumal/Desktop/JUPYTER NoteBook/datasets/spam.xlsx")

In [3]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
df.tail()

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham              Will Ã¼ b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [6]:
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [7]:
pip install NLTK

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: NLTK in d:\programs\lib\site-packages (3.8.1)
Requirement already satisfied: click in d:\programs\lib\site-packages (from NLTK) (8.0.4)
Requirement already satisfied: joblib in d:\programs\lib\site-packages (from NLTK) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in d:\programs\lib\site-packages (from NLTK) (2022.7.9)
Requirement already satisfied: tqdm in d:\programs\lib\site-packages (from NLTK) (4.65.0)
Requirement already satisfied: colorama in d:\programs\lib\site-packages (from click->NLTK) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [8]:
tx="The Medical Council of India (MCI) was a statutory body for establishing uniform and high standards of medical education in India until its dissolution on 25 September 2020 when it was replaced by National Medical Commission.[1] The Council granted recognition of medical qualifications, gave accreditation to medical schools, granted registration to medical practitioners, and monitored medical practice in India. The MCI faced persistent criticism for corruption"

In [11]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Yash
[nltk_data]     Dhumal\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [12]:
x=sent_tokenize(tx)

In [13]:
x

['The Medical Council of India (MCI) was a statutory body for establishing uniform and high standards of medical education in India until its dissolution on 25 September 2020 when it was replaced by National Medical Commission.',
 '[1] The Council granted recognition of medical qualifications, gave accreditation to medical schools, granted registration to medical practitioners, and monitored medical practice in India.',
 'The MCI faced persistent criticism for corruption']

In [14]:
from nltk.tokenize import word_tokenize

In [15]:
y=word_tokenize(tx)

In [16]:
y

['The',
 'Medical',
 'Council',
 'of',
 'India',
 '(',
 'MCI',
 ')',
 'was',
 'a',
 'statutory',
 'body',
 'for',
 'establishing',
 'uniform',
 'and',
 'high',
 'standards',
 'of',
 'medical',
 'education',
 'in',
 'India',
 'until',
 'its',
 'dissolution',
 'on',
 '25',
 'September',
 '2020',
 'when',
 'it',
 'was',
 'replaced',
 'by',
 'National',
 'Medical',
 'Commission',
 '.',
 '[',
 '1',
 ']',
 'The',
 'Council',
 'granted',
 'recognition',
 'of',
 'medical',
 'qualifications',
 ',',
 'gave',
 'accreditation',
 'to',
 'medical',
 'schools',
 ',',
 'granted',
 'registration',
 'to',
 'medical',
 'practitioners',
 ',',
 'and',
 'monitored',
 'medical',
 'practice',
 'in',
 'India',
 '.',
 'The',
 'MCI',
 'faced',
 'persistent',
 'criticism',
 'for',
 'corruption']

In [21]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Yash
[nltk_data]     Dhumal\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [22]:
from nltk.corpus import stopwords

stop_words = set(stopwords.words("english"))
print(stop_words)

{'a', 'from', 'its', 'only', 'shouldn', "hadn't", "should've", 'having', "doesn't", 'ours', 'as', 'will', 'does', 'most', 'himself', 'there', 'each', 'her', 'while', "haven't", 'the', 'd', "weren't", 'm', 'again', 'doing', 'any', "wouldn't", 'above', 'then', 'i', 'under', 'itself', 'whom', 'weren', 'they', 'was', 'into', 'have', 'has', 'y', 'ourselves', 'aren', 's', 'myself', 'why', 'more', 'off', 'we', 'isn', 'yourself', 'not', 'ma', 'them', 've', 'ain', 'yours', 'that', 'both', 'below', 'should', 'of', 'shan', 'll', "aren't", 'an', "won't", "you'll", 'be', 'themselves', 'were', 'other', 'own', 'than', "wasn't", "that'll", 'to', 'is', 'just', 'theirs', 'very', "couldn't", "didn't", 'until', 'my', 'against', 'his', 'because', 'am', "isn't", 'those', 'so', 'same', 'hers', 'do', 'between', 'needn', 'didn', 'these', 'through', 'during', 'doesn', 'or', 'nor', 'she', 'hadn', 'it', "she's", 'on', 'you', "it's", 'down', 'our', 'in', 'which', 't', 'can', 'your', 'about', 'don', 'up', "mustn't", 'once', 'this', 'when', 'him', 'their', "you're", 'over', 'wouldn', 'hasn', "hasn't", 'had', 'some', 're', 'me', 'but', 'he', 'are', 'such', 'o', 'and', 'couldn', 'what', "needn't", 'how', 'haven', 'mightn', 'few', 'at', 'mustn', "don't", "shouldn't", 'being', 'did', 'further', 'won', 'after', 'before', 'who', 'too', 'if', "you've", "shan't", 'for', 'herself', 'where', 'wasn', 'now', 'been', 'all', "mightn't", "you'd", 'no', 'yourselves', 'here', 'out', 'by', 'with'}

In [23]:
txt='I am going to college. Today there is Python Training in Seminar Hall.'

In [24]:
L1=[]
for w in stop_words:
    for a in txt:
        if a==w:
            L1.append(txt)

In [25]:
L1

['I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.',
 'I am going to college. Today there is Python Training in Seminar Hall.']